<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94165437451-apl71b3iqe1ai4fbvfkpauogqgskh0e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94165437451-apl71b3iqe1ai4fbvfkpauogqgskh0e8</string>
	<key>API_KEY</key>
	<string>AIzaSyCIKs8LKGTFEzts1cR6vxJZMCK8-X2ryzE</string>
	<key>GCM_SENDER_ID</key>
	<string>94165437451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeaeye.zeaeye</string>
	<key>PROJECT_ID</key>
	<string>zeaeye-development</string>
	<key>STORAGE_BUCKET</key>
	<string>zeaeye-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94165437451:ios:2caaea7ac9ce3f98474b0e</string>
	<key>DATABASE_URL</key>
	<string>https://zeaeye-development.firebaseio.com</string>
</dict>
</plist>